.RESTY .row{
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.RESTY .column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RESTY .width{
  width: 100%
}
