.Request {
  margin: 2rem;
  height: 10rem;
  width: 40rem;
  border: 5px solid black;
}

.Request .row{
  display: flex;
  flex-direction: row;
}

.Request .column{
  display: flex;
  flex-direction: column;
}

.Request .input{
  display: block;
  align-self: center;
  position: absolute;
  width: 4rem;
  height: 1rem;
  z-index: 100;
  cursor: pointer;
  opacity: 0.01;
}

.Request .input[type="radio"]:checked+label{
  color: blue;
  z-index: 100;
  cursor: pointer;
}

.Request .label{
  z-index: 1;
  width: 4rem;
}

.Request .radiobutton{
  width: 4rem;
  height: 1.5rem;
  z-index: 1;
  border: 1px solid #CCC;
  text-align: center;
  margin: .65rem .65rem .65rem .65rem;
}

.Request .urlinput{
  height: 1.25rem;
  width: 25rem;
  margin: 1rem;
}

.Request .submitbutton{
  height: 1.5rem;
  margin: 1rem;
}

.Request .center{
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.Request .textinput{
  height: 5rem;
}
