.History {
  margin: 2rem;
  border: 5px solid black;
}


.History h1{
  font-size: 1rem;
}

.History section{
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  justify-items: center;
  height: 20rem;
  width: 10rem;
}
